h1{/*selects any h1 tag in the ejs file*/
    color: red;/* makes the color of the text red*/
}
.completed{/*selects the completed class*/
    color: gray;/*makes the text color gray*/
    text-decoration: line-through; /*puts a line through the text */
}